{{include('head.html.twig')}}
{% block body %}


    <h2>Qu'est-ce qu'un système trixie (4 paris) ?
    </h2>
    <p>Dans un système Trixie, vous donnez trois pronostics à partir desquels quatre paris sont formés: <br>
       <b> - trois combinaisons <BR>
        - une combinaison triple.</b>
        <br>Au moins deux pronostics doivent être corrects pour que vous remportiez des gains. Le montant exact de vos gains dépend du nombre de pronostics qui sont corrects.</p>
    <br>

    <h2>Qu'est-ce qu'un système patent (7 paris) ?
    </h2>

    <p>Dans un système patent, vous donnez 3 pronostics à partir desquels sept paris sont formés: <br>
        <b>- un pari simple par pronostic,<br>
        - trois combinaisons doubles <br>
            - et une combinaison triple. </b><br>
        Au moins un pronostic doit être correct pour que vous remportiez des gains. Le montant exact de vos gains dépend du nombre de pronostics qui sont corrects.</p>


    <br>

    <h2>Qu'est-ce qu'un système Yankee (11 paris) ?
    </h2>
    <p>Dans un système Yankee, vous donnez quatre pronostics à partir desquels onze paris sont formés: <br>
        <b>- six combinaisons doubles,<br>
           - quatre combinaisons triples<br>
           - et une combinaison quadruple. </b><br> Au moins deux pronostics doivent être corrects pour que vous remportiez des gains. Le montant exact de vos gains dépend du nombre de pronostics qui sont corrects.</p>

    <br>
    <h2>Qu'est-ce qu'un système Lucky 15 (15 paris) ?</h2>
    <p>Dans un système Lucky 15, vous donnez quatre pronostics à partir desquels quinze paris sont formés: <br><b>
            - un pari simple par pronostic, <br>
            - six combinaisons doubles, <br>
            - quatre combinaisons triples <br>
            - et une combinaison quadruple.</b><br> Au moins un pronostic doit être correct pour que vous remportiez des gains. Le montant exact de vos gains dépend du nombre de pronostics qui sont corrects.
    </p>
    <h2>Qu'est-ce qu'un système canadien (26 paris) ?</h2>
    <p>    Dans un système Canadian, vous donnez cinq pronostics à partir desquels vingt-six paris sont formés:<br><b>
        - dix combinaisons doubles;<br>
        - dix combinaisons triples;<br>
        - cinq combinaisons quadruples;<br>
        - une combinaison quintuple</b><br>
        Au moins deux pronostics doivent être corrects pour que vous remportiez des gains. Le montant exact de vos gains dépend du nombre de pronostics qui sont corrects.
    </p><br>
<h2>Qu'est-ce qu'un système Lucky 31 (31 paris) ?</h2>
    <p>Dans un système Lucky 31, vous donnez cinq pronostics à partir desquels 31 paris sont formés: <br> <b>- un pari simple par pronostic,
            <br>
     - dix combinaisons double, <br>
     - dix combinaisons triple, <br>
     - cinq combinaisons quadruples <br>
     - et une combinaison quintuple.</b> Au moins un pronostic doit être correct pour que vous remportiez des gains. Le montant exact de vos gains dépend du nombre de pronostics qui sont corrects.</p>
    <br>
    <h2>Qu'est-ce qu'un système Heinz (57 paris) ?
    </h2>
    <p>Dans un système Heinz, vous donnez six pronostics à partir desquels 57 paris sont formés: <br><b> -
        - quinze combinaisons doubles, <br>
        - vingt combinaisons triples, <br>
        - quinze combinaisons quadruples,<br>
        - six combinaisons quintuples <br>
        - et une combinaison sextuple </b><br>. Au moins deux pronostics doivent être corrects pour que vous remportiez des gains. Le montant exact de vos gains dépend du nombre de pronostics qui sont corrects.</p>
    <br>
    <h2>Qu'est-ce qu'un système Lucky 63 (63 paris) ?
    </h2>
    <p>Dans un système Lucky 63, vous donnez six pronostics à partir desquels 63 paris sont formés: <br>
      <b>  - un pari simple par pronostic, <br>
           - quinze combinaisons doubles, <br>
           - vingt combinaisons triples, <br>
           - quinze combinaisons quadruples, <br>
           - six combinaisons quintuples <br>
           - et une combinaison sextuple.</b><br> Au moins un pronostic doit être correct pour que vous remportiez des gains. Le montant exact de vos gains dépend du nombre de pronostics qui sont corrects.</p>
    <br>
    <h2>Qu'est-ce qu'un système Super Heinz (120 paris) ?
    </h2>
    <p>Dans un système Super Heinz, vous donnez sept pronostics à partir desquels 120 paris sont formés: <br><b>
        - vingt-et-une combinaisons doubles, <br>
        - trente-cinq combinaisons triples, <br>
        - trente-cinq combinaisons quadruples, <br>
        - vingt-et-une combinaisons quintiples, <br>
        - sept combinaisons sextuples <br>
        - et une combinaison septuple.</b>
        <br>Au moins deux paris doivent être corrects pour que vous remportiez des gains. Le montant exact de vos gains dépend du nombre de pronostics qui sont corrects.</p>
    <br>
    <h2>Qu'est-ce qu'un système Goliath (247 paris) ?
    </h2>
    <p>Dans un système Goliath, vous donnez huit pronostics à partir desquels 247 paris sont formés: <br><b>
        - 28 combinaisons doubles, <br>
        - 56 combinaisons triples, <br>
        - 70 combinaisons quadruples, <br>
        - 56 combinaisons quintuples, <br>
        - 28 combinaisons sextuples,<br>
        - 8 combinaisons septuples <br>
        - 1 combinaison octuple.</b><br> Au moins deux pronostics doivent être corrects pour que vous remportiez des gains. Le montant exact de vos gains dépend du nombre de pronostics qui sont corrects.</p>



{% endblock %}