{% extends 'base.html.twig' %}

{% block title %}Edit Choix{% endblock %}

{% block body %}
    <h1>Edit Choix</h1>

    {{ include('bet_instinct_choix/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('bet_instinct_choix_index') }}">back to list</a>

    {{ include('bet_instinct_choix/_delete_form.html.twig') }}
{% endblock %}
