{{include('head.html.twig')}}

{% block body %}
    <h1>Edit Athlete</h1>

    {{ include('bet_instinct/athlete/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('bet_instinct_athlete_index') }}" class="btn btn-primary">retour</a>

    {{include('end.html.twig')}}

{% endblock %}
