{{include('head.html.twig')}}


{% block body %}
    <h1>Nouvel Athlete</h1>

    {{ include('bet_instinct/athlete/_form.html.twig') }}

    <a href="{{ path('bet_instinct_athlete_index') }}" class="btn btn-primary mb-2">retour</a>
</div>
    {{include('end.html.twig')}}

{% endblock %}
