<form method="post" action="{{ path('bet_instinct_surface_delete', {'id': surface.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ surface.id) }}">
    <button class="btn">Delete</button>
</form>
