{{include('head.html.twig')}}

{% block body %}
    <h1>Create new Surface</h1>

    {{ include('bet_instinct/surface/_form.html.twig') }}

    <a href="{{ path('bet_instinct_surface_index') }}" class="btn btn-primary">retour</a>

    {{ include('end.html.twig') }}
{% endblock %}
