{{include('head.html.twig')}}

{% block body %}
    <h3 class="text-center">modifier le pari {{ jeu.pronostic.bet.affiche }}</h3>

    {{ include('bet_instinct/jeu/_form.html.twig', {'button_label': 'modifier'}) }}

    <a href="{{ path('bet_instinct_jeu_index') }}" class="btn btn-secondary">retour</a>

{% endblock %}
