{{include('head.html.twig')}}

{% block body %}
    <h1>Edit Classement</h1>

    {{ include('bet_instinct/classement/_form.html.twig', {'button_label': 'valider'}) }}

    <a href="{{ path('bet_instinct_classement_index') }}" class="btn btn-secondary">retour</a>

</div>
    {{ include('end.html.twig') }}
{% endblock %}
