{{include('head.html.twig')}}

{% block body %}
    <h1>modifier TypedePari</h1>

    {{ include('bet_instinct/typede_pari/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('bet_instinct_typede_pari_index') }}">retour</a>

{% endblock %}
