{{include('head.html.twig')}}

{% block body %}
    <h1>Create new TypePari</h1>

    {{ include('bet_instinct/type_pari/_form.html.twig') }}

    <a href="{{ path('bet_instinct_type_pari_index') }}" class="btn btn-primary">retour</a>


    {{include('end.html.twig')}}

{% endblock %}
