{{include('head.html.twig')}}
{% block body %}
    <h1>Edit Pays</h1>

    {{ include('bet_instinct/pays/_form.html.twig', {'button_label': 'modifier'}) }}

    <a href="{{ path('bet_instinct_pays_index') }}" class="btn btn-secondary">retour</a>


    {{ include('end.html.twig') }}
{% endblock %}
