{% include 'head.html.twig' %}

{% block title %}New Groupe{% endblock %}

{% block body %}
    <h1>Create new Groupe</h1>

    {{ include('bet_instinct/groupe/_form.html.twig') }}

    <a href="{{ path('bet_instinct_groupe_index') }}">back to list</a>
{% endblock %}
