{{include('head.html.twig')}}

{% block body %}
    <h1>Create new Equipe</h1>
{% for d in app.flashes('danger') %} <div class="alert alert-danger">{{ d }}</div>{% endfor %}
    {{ include('bet_instinct/equipe/_form.html.twig') }}

    <a href="{{ path('bet_instinct_equipe_index') }}" class="btn btn-secondary">retour</a>
{% endblock %}
