{{include('head.html.twig')}}


{% block body %}
    <h1>Create new Les2joueursWin1set</h1>

    {{ include('bet_instinct/les2joueurs_win1set/_form.html.twig') }}

    <a href="{{ path('bet_instinct_les2joueurs_win1set_index') }}" class="btn btn-primary">back to list</a>

    {{include('end.html.twig')}}

{% endblock %}
