{% extends 'base.html.twig' %}

{% block title %}Edit Type2choix{% endblock %}

{% block body %}
    <h1>Edit Type2choix</h1>

    {{ include('bet_instinct_type2choix/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('bet_instinct_type2choix_index') }}">back to list</a>

    {{ include('bet_instinct_type2choix/_delete_form.html.twig') }}
{% endblock %}
